<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Classify Images of Dolphins</div>
    <p class='instructions'>
      可分類：<strong>0: Hector's Dolphin (大西洋黑白海豚)</strong>, <strong>1: Fraser's Dolphin (弗氏海豚)</strong>, <strong>2: Bottlenose Dolphin (瓶鼻海豚)</strong>
      or <strong>3: Risso's Dolphin (花紋海豚)</strong>, <strong>4: Pink Dolphin (粉紅瓶鼻海豚)</strong>      
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file has been chosen yet.</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
